


/* Container styles */


.container1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 300px;
}


/* Explore box styles */


.explore-box {
    width: 60%;
    padding: 20px;
    background-color: #d7e8f3;
    border: 1px solid #ccc;
    height: 350px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #eaf3fb;
}

th,
td {
    border: 1px solid #999;
    padding: 10px;
    vertical-align: top;
}

th {
    background: #e0ebf5;
    font-weight: bold;
    text-align: left;
}

/* Simple fixed widths, no nth-child */
th[colspan="dep"],td.dep {
    width: 120px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

th[colspan="links"],td.links {
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

a {
    color: #2a1faf;
    text-decoration: none;
}


/* Right box styles */


.right-box {
    width: 30%;
}

.right-box h3 {
    color: #37778f;
    font-family: "Georgia", serif;
    text-align: center;
}

h3.video {
    font-family: "Georgia", serif;
}


/* History box styles */


.history-box {
    background: #FFECB3;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
    height: 200px;
}

.history-box h3 {
    margin-bottom: 8px;
}


/* Image box styles */


.img-box {
    border: 1px solid #999;
    padding: 6px;
    margin-bottom: 20px;
    margin-right: 40px;
    background: white;
}

.img-box img {
    width: 100%;
    display: block;
}


/* vidoe box styles */

.video {
    border: 1px solid #999;
    margin-bottom: 20px;
    margin-right: 40px;
    background: white;
}


/* container styles */


.container {
    display: flex;
    width: 80%;

    margin-right: 40px;
    background: #ffffff;
    border: 2px solid #dedede;
}