pre {
    font-family: "Georgia", serif;
    font-size: small;
    white-space: pre-wrap;
}


/* Container styles */


.container1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 300px;
}

/* Right box styles */


.right-box {
    width: 30%;
}

.right-box h3 {
    color: #37778f;
    font-family: "Georgia", serif;
}

.If h3.video {
    font-family: "Georgia", serif;
    text-align: center;
}


/* Form box styles */


.form-box {
    width: 55%;
    background: #d7e8f3;
    padding: 20px;
    border: 1px solid #ccc;
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-box ::selection {
    color: red;
}



/* History box styles */


.history-box {
    background: #FFECB3;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
    height: 200px;
}

.history-box h3 {
    margin-bottom: 8px;
}


/* Image box styles */


.img-box {
    border: 1px solid #999;
    padding: 6px;
    margin-bottom: 20px;
    background: white;;
    width: 89%;
}

.img-box img {
    width: 100%;
    display: block;
}


/* container styles */


.container {
    display: flex;
    width: 80%;

    margin-right: 40px;
    background: #ffffff;
    border: 2px solid #dedede;
}