

/* Container styles */


.container1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 300px;
}


/* INFO box styles */


.INFO-box {
    width: 55%;
}

.INFO-box h3 {
    color: #37778f;
}

textarea {
    width: 400px;
    height: 30px;
}

form {
    font-family: Arial, sans-serif;
}

fieldset {
    padding: 20px;
    margin-bottom: 20px;
}

.user-name {
    width: 500px;
}

button {
    padding: 10px 20px;
    background-color: #d7e8f3;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.button-box  {
    text-align: center;
}


/* Right box styles */


.right-box {
    width: 30%;
}
.right-box h3 {
    color: #37778f;
    font-family: "Georgia", serif;
    text-align: center ;
}

h3.video {
    font-family: "Georgia", serif;
}


/* History box styles */


.history-box {
    background: #FFECB3;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
    height: 200px;
}

.history-box h3 {
    margin-bottom: 8px;
}


/* Image box styles */


.img-box {
    border: 1px solid #999;
    padding: 6px;
    margin-bottom: 20px;
    margin-right: 40px;
    background: white;
}

.img-box img {
    width: 100%;
    display: block;
}


/* vidoe box styles */

.video {
    border: 1px solid #999;
    margin-bottom: 20px;
    margin-right: 40px;
    background: white;
}


/* container styles */


.container {
    display: flex;
    width: 80%;

    margin-right: 40px;
    background: #ffffff;
    border: 2px solid #dedede;
}