body {
    background-color: #fff9c4;
    font-family: Arial, sans-serif;
    margin-top: 100px;
    margin-left: 100px;
}

/* list styles */


ul.w {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.w {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
    background-color: #E3F2FD;
}

li.w a {
    display: block;
    color: black;
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
}

li.w a:hover {
    background-color: #ffe697;
    color: white;
}


/* Left sections */


.left {
    width: 60%;
    background-color: #d7e8f3;
    padding: 30px;
}

.left h2 {
    text-align: center;
    margin-bottom: 50px;
}


/* Image row styles */


.image-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
    margin-bottom: 20px;
    transition: margin-bottom 0.3s ease, gap 0.3s ease;
}

.image-row:hover {
    gap: 40px;
}

.image-row img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
    opacity: 0.4;

}

.image-row img:hover {
    opacity: 1;
    border-radius: 20px;
    transform: scale(1.4);
}


/* Right section styles */


.right {
    width: 40%;
    padding: 25px;
    background-color: #f7e28b;
}

.right h1 {
    font-family: "Georgia", serif;
    margin-bottom: 20px;
}

.right h2 {
    font-family: "Georgia", serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

.right pre {
    font-family: "Georgia", serif;
}


/* Social icons styles */


.icons {
    margin-top: 40px;
    font-size: 32px;
    display: flex;
    gap: 25px;
}

.icons a {
    color: #2c2c2c;
    margin: 15px;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.icons a:hover {
    color: #37778f;
    transform: scale(1.2);
    cursor: pointer;
}

.icons i {
    opacity: 0.4;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.icons i:hover {
    opacity: 1;
    transform: scale(1.2);
}